.modal__wrapper(data-modal-order="order")
	.modal-container
		.close-modal
			div
				span
				span
		form.form-container#formSteps
			.form-container__inner
				ol.form-area
					mixin f-li(id, name, number)
						li
							.numbers
								span #{number}
							span
								label(for=id) #{name}
							.input
								input(id=id name=id type="text")
					+f-li("q-1", "First name", "#01")
					+f-li("q-2", "Phone", "#02")
					+f-li("q-2", "Mail", "#03")
				button.submit(type="submit")
				.controls
					button.next
					.progress
					.pagin
						span.pagin-current
						span.separator /
						span.pagin-total
					.error-message
			.final-message
				.message-inner
					.message-title Thank you
					span Form successfully completed! In a short time we will contact you.
					.message-close Close me
		script(type='text/javascript').
			var form = document.getElementById("formSteps");

			new stepForm(form, {
				onSubmit: function(form) {
					$(".form-container__inner").addClass("hide");
					$(".final-message").addClass("show");
				}
			})
.overlay