.portfolio-container
	.content-left.content-side
		.projects-gallery
			.projects
				a.projects-item.ajax-trigger(href="#")
					.project-info-contaner(data-animation="fadeInRight", data-delay="0.5s")
						.cover
							.project-info__inner
								.projects-image
									//- img(src="img/main/1_2grey.jpg" class="grey")
									img(src="img/main/1_2.jpg")
								.projects-info
										.projects-name
											span Café de Paris 1
												i
										.projects-hash
											- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
											each hash in arrHash
												span(class="hash-item") #{hash}
				a.projects-item.ajax-trigger(href="#")
					.project-info-contaner(data-animation="fadeInRight", data-delay="0.6s")
						.cover
							.project-info__inner
								.projects-image
									//- img(src="img/main/6_2grey.jpg" class="grey")
									img(src="img/main/6_2.jpg")
								.projects-info
										.projects-name
											span Café de Paris 2
												i
										.projects-hash
											- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
											each hash in arrHash
												span(class="hash-item") #{hash}
	.content-right.content-side
		.projects-gallery
			.projects
				a.projects-item.ajax-trigger(href="#")
					.project-info-contaner(data-animation="fadeInRight", data-delay="0.5s")
						.cover
							.project-info__inner
								.projects-image
									//- img(src="img/main/10_2grey.jpg" class="grey")
									img(src="img/main/10_2.jpg")
								.projects-info
										.projects-name
											span Café de Paris 3
												i
										.projects-hash
											- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
											each hash in arrHash
												span(class="hash-item") #{hash}
				a.projects-item.ajax-trigger(href="#")
					.project-info-contaner(data-animation="fadeInRight", data-delay="0.6s")
						.cover
							.project-info__inner
								.projects-image
									//- img(src="img/main/15_2grey.jpg" class="grey")
									img(src="img/main/15_2.jpg")
								.projects-info
										.projects-name
											span Café de Paris 4
												i
										.projects-hash
											- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
											each hash in arrHash
												span(class="hash-item") #{hash}

.portfolio-container
	.content-left.content-side
		.projects-gallery
			.projects
				a.projects-item.ajax-trigger(href="#")
					.project-info-contaner(data-animation="fadeInRight", data-delay="0.5s")
						.cover
							.project-info__inner
								.projects-image
									//- img(src="img/main/19_2grey.jpg" class="grey")
									img(src="img/main/19_2.jpg")
								.projects-info
										.projects-name
											span Café de Paris 5
												i
										.projects-hash
											- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
											each hash in arrHash
												span(class="hash-item") #{hash}
				a.projects-item.ajax-trigger(href="#")
					.project-info-contaner(data-animation="fadeInRight", data-delay="0.6s")
						.cover
							.project-info__inner
								.projects-image
									//- img(src="img/main/23_2grey.jpg" class="grey")
									img(src="img/main/23_2.jpg")
								.projects-info
										.projects-name
											span Café de Paris 6
												i
										.projects-hash
											- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
											each hash in arrHash
												span(class="hash-item") #{hash}
	.content-right.content-side
		.projects-gallery
			.projects
				a.projects-item.ajax-trigger(href="#")
					.project-info-contaner(data-animation="fadeInRight", data-delay="0.5s")
						.cover
							.project-info__inner
								.projects-image
									//- img(src="img/main/28_2grey.jpg" class="grey")
									img(src="img/main/28_2.jpg")
								.projects-info
										.projects-name
											span Café de Paris 7
												i
										.projects-hash
											- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
											each hash in arrHash
												span(class="hash-item") #{hash}
				a.projects-item.ajax-trigger(href="#")
					.project-info-contaner(data-animation="fadeInRight", data-delay="0.6s")
						.cover
							.project-info__inner
								.projects-image
									//- img(src="img/main/30_2grey.jpg" class="grey")
									img(src="img/main/30_2.jpg")
								.projects-info
										.projects-name
											span Café de Paris 8
												i
										.projects-hash
											- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
											each hash in arrHash
												span(class="hash-item") #{hash}