extends _layout

block title
	title Catalog

block content
	include includes/_header
	include includes/_menu
	.wrapper
		.content.content-project(data-page="catalog")
			a.logo(href="/")
			ul.breadcrumbs
				li
					a.home.breadcrumbs-item.ajax-trigger(href="#")
						div
							<svg viewBox="0 0 20 22.1" xmlns="http://www.w3.org/2000/svg"><path d="m10.04767,0.04746l-9.996,9l0,13l7.996,0l0,-6l4.004,0l0,6l8,0l0,-13l-10.004,-9zm8.008,20l-4.008,0l0,-6l-7.996,0l0,6l-4.004,0l0,-10.172l8,-7l8.008,7l0,10.172z"/></svg>
				li
					.breadcrumbs-item
						span Catalog
			.gallery-pagination
				a(href="#" class="pagination-item pagination-item_left ajax-trigger")
					div
						<svg viewBox="0 0 33 23" xmlns="http://www.w3.org/2000/svg"><g><rect height="9" width="14" stroke-miterlimit="10" fill="none" y="12.99216" x="0.51307"/><rect height="9" width="14" stroke-miterlimit="10" fill="none" y="12.99216" x="18.31307"/></g><g><rect class="hover" height="9" width="14" stroke-miterlimit="10" y="12.99216" x="0.51307"/><rect class="hover" height="9" width="14" stroke-miterlimit="10" y="12.99216" x="18.31307"/></g><g><rect height="9" width="14" stroke-miterlimit="10" fill="none" y="0.39216" x="0.51307"/><rect height="9" width="14" stroke-miterlimit="10" fill="none" y="0.39216" x="18.31307"/></g><g><rect class="hover" height="9" width="14" stroke-miterlimit="10" y="0.39216" x="0.51307"/><rect class="hover" height="9" width="14" stroke-miterlimit="10" y="0.39216" x="18.31307"/></g></svg>
				a(href="#" class="pagination-item pagination-item_right ajax-trigger")
					div
						<svg viewBox="0 0 34 22" xmlns="http://www.w3.org/2000/svg"><g id="double"><path d="m0.53333,0.45915l14.5,0l0,21l-14.5,0l0,-21z" stroke-miterlimit="10" fill="none"/><path d="m19.03333,0.45915l14.5,0l0,21l-14.5,0l0,-21z" stroke-miterlimit="10" fill="none"/></g><g id="main"><path class="hover" d="m0.53333,0.45915l14.5,0l0,21l-14.5,0l0,-21z" stroke-miterlimit="10"/><path class="hover" d="m19.03333,0.45915l14.5,0l0,21l-14.5,0l0,-21z" stroke-miterlimit="10"/></g></svg>
			.content-left.content-side
				.projects
					.text-container
						.title Catalog
						.subtitle Sort by:  
						.descr
							.project-sorting
								- var curr = "All projects"
								mixin sort(sort, name)
									button.sort(class={active: name === curr} type="button" data-filter=sort)
										span #{name}
								+sort("*", "All projects")
								+sort(".houses", "Houses")
								+sort(".interiors", "Interiors")
								+sort(".layouts", "Layouts")
			.content-right.content-side
				.projects-gallery
					.scroller-gallery.scroller-gallery__project
						.scroller-container#scroll-container
							ul.grid.grid-sort
								mixin gridItem(link, hash, name, area, price)
									li(class="load " + hash)
										a
											.image__cover
												img(src=link)
											.projects-hash
												span(class="hash-item") ##{hash}
											.descr
												.name #{name}
												.prop
													.prop-sq #{area}m
														sup 2
													.prop-price #{price}$
								+gridItem("img/grid/grid-1.jpg", "layouts", "House#1", "105", "2 500")
								+gridItem("img/grid/grid-1.jpg", "interiors", "Interior#1", "53", "3 000")
								+gridItem("img/grid/grid-1.jpg", "houses", "House#1", "205", "4 000")
								+gridItem("img/grid/grid-1.jpg", "houses", "House#1", "105", "2 500")
								+gridItem("img/grid/grid-1.jpg", "layouts", "Interior#1", "53", "3 000")
								+gridItem("img/grid/grid-1.jpg", "houses", "House#1", "205", "4 000")
								+gridItem("img/grid/grid-1.jpg", "layouts", "House#1", "105", "2 500")
								+gridItem("img/grid/grid-1.jpg", "interiors", "Interior#1", "53", "3 000")
								+gridItem("img/grid/grid-1.jpg", "houses", "House#1", "205", "4 000")
								+gridItem("img/grid/grid-1.jpg", "houses", "House#1", "105", "2 500")
								+gridItem("img/grid/grid-1.jpg", "layouts", "Interior#1", "53", "3 000")
								+gridItem("img/grid/grid-1.jpg", "houses", "House#1", "205", "4 000")
								+gridItem("img/grid/grid-1.jpg", "houses", "House#1", "105", "2 500")
								+gridItem("img/grid/grid-1.jpg", "interiors", "Interior#1", "53", "3 000")
								+gridItem("img/grid/grid-1.jpg", "houses", "House#1", "205", "4 000")
								+gridItem("img/grid/grid-1.jpg", "houses", "House#1", "105", "2 500")
								+gridItem("img/grid/grid-1.jpg", "interiors", "Interior#1", "53", "3 000")
								+gridItem("img/grid/grid-1.jpg", "layouts", "House#1", "205", "4 000")
								+gridItem("img/grid/grid-1.jpg", "houses", "House#1", "105", "2 500")
								+gridItem("img/grid/grid-1.jpg", "interiors", "Interior#1", "53", "3 000")
								+gridItem("img/grid/grid-1.jpg", "layouts", "House#1", "205", "4 000")

					script(type='text/javascript').
						window.onload = function() {
							$(heightScrollContainer)
							$(scrollbar)
							$(iso)
						}
			- var ajax = true;
			include includes/_pagination
		include includes/_footer
	include includes/_modal-hash
	include includes/_modal
