extends _layout

block title
	title Title of template

block content
	include includes/_header
	include includes/_menu
	.wrapper
		.content.content-portfolio-two
			a.logo(href="/")
			ul.breadcrumbs
				li
					a.home.breadcrumbs-item(href="#")
						div
							<svg viewBox="0 0 20 22.1" xmlns="http://www.w3.org/2000/svg"><path d="m10.04767,0.04746l-9.996,9l0,13l7.996,0l0,-6l4.004,0l0,6l8,0l0,-13l-10.004,-9zm8.008,20l-4.008,0l0,-6l-7.996,0l0,6l-4.004,0l0,-10.172l8,-7l8.008,7l0,10.172z"/></svg>
				li
					a.breadcrumbs-item(href="#")
						span Portfolio
			include includes/_hash
			.gallery-pagination
				a(href="#" class="pagination-item pagination-item_left")
					div
						<svg viewBox="0 0 31 21" xmlns="http://www.w3.org/2000/svg"><path id="svg_1" d="m0.5,0.5l13.4875,0l0,8.43764l-13.4875,0l0,-8.43764z" stroke-miterlimit="10" fill="none" clip-rule="evenodd" fill-rule="evenodd"/>  <path id="svg_3" d="m17.05921,0.5l13.44079,0l0,8.43626l-13.44079,0l0,-8.43626z" stroke-miterlimit="10" fill="none" clip-rule="evenodd" fill-rule="evenodd"/><path id="svg_4" d="m17.05467,12.06511l13.44533,0l0,8.43489l-13.44533,0l0,-8.43489z" stroke-miterlimit="10" fill="none" clip-rule="evenodd" fill-rule="evenodd"/><path id="svg_5" d="m0.5,12.0125l13.4875,0l0,8.4875l-13.4875,0l0,-8.4875z" stroke-miterlimit="10" fill="none" clip-rule="evenodd" fill-rule="evenodd"/></svg>
				a(href="#" class="pagination-item pagination-item_right active")
					div
						<svg viewBox="0 0 31 21" xmlns="http://www.w3.org/2000/svg"><path id="svg_1" d="m0.5,0.5l13.39759,0l0,20l-13.39759,0l0,-20z" stroke-miterlimit="10" fill="none" clip-rule="evenodd" fill-rule="evenodd"/><path id="svg_2" d="m17.16265,0.5l13.33735,0l0,20l-13.33735,0l0,-20z" stroke-miterlimit="10" fill="none" clip-rule="evenodd" fill-rule="evenodd"/></svg>
			.content-left.content-side
				.projects-gallery
					.projects.projects-triggers
						- var current = "Club Jelsomino"
						mixin triggers(link, name)
							a.projects-triggers__item.ajax-trigger(href="#" data-trigger=link class={active: name === current})
								span #{name}
								
						+triggers("1", "Club Jelsomino")
						+triggers("2", "Private house #10")
						+triggers("3", "Private house #11")
						+triggers("4", "Union Coffee")
						+triggers("5", "Café de Paris")
						+triggers("6", "Private house #09")
						+triggers("7", "Cafe Milano")
						+triggers("8", "Cafe Balkon")
			.content-right.content-side
				.projects-gallery
					.projects.projects-fader
						a.projects-item.ajax-trigger.is-visible.active(href="#" data-faders="1")
							.project-info-contaner
								.projects-image
									img(src="img/image-1.jpg")
								.projects-info
										.projects-name
											span Café de Paris
												i
										.projects-hash
											- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
											each hash in arrHash
												span(class="hash-item") #{hash}
						a.projects-item.ajax-trigger(href="#" data-faders="2")
							.project-info-contaner
								.projects-image
									img(src="img/image-1.jpg")
								.projects-info
										.projects-name
											span Café de Paris
												i
										.projects-hash
											- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
											each hash in arrHash
												span(class="hash-item") #{hash}
						a.projects-item.ajax-trigger(href="#" data-faders="3")
							.project-info-contaner
								.projects-image
									img(src="img/image-1.jpg")
								.projects-info
										.projects-name
											span Café de Paris
												i
										.projects-hash
											- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
											each hash in arrHash
												span(class="hash-item") #{hash}
						a.projects-item.ajax-trigger(href="#" data-faders="4")
							.project-info-contaner
								.projects-image
									img(src="img/image-1.jpg")
								.projects-info
										.projects-name
											span Café de Paris
												i
										.projects-hash
											- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
											each hash in arrHash
												span(class="hash-item") #{hash}
						a.projects-item.ajax-trigger(href="#" data-faders="5")
							.project-info-contaner
								.projects-image
									img(src="img/image-1.jpg")
								.projects-info
										.projects-name
											span Café de Paris
												i
										.projects-hash
											- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
											each hash in arrHash
												span(class="hash-item") #{hash}
						a.projects-item.ajax-trigger(href="#" data-faders="6")
							.project-info-contaner
								.projects-image
									img(src="img/image-1.jpg")
								.projects-info
										.projects-name
											span Café de Paris
												i
										.projects-hash
											- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
											each hash in arrHash
												span(class="hash-item") #{hash}
						a.projects-item.ajax-trigger(href="#" data-faders="7")
							.project-info-contaner
								.projects-image
									img(src="img/image-1.jpg")
								.projects-info
										.projects-name
											span Café de Paris
												i
										.projects-hash
											- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
											each hash in arrHash
												span(class="hash-item") #{hash}
						a.projects-item.ajax-trigger(href="#" data-faders="8")
							.project-info-contaner
								.projects-image
									img(src="img/image-1.jpg")
								.projects-info
										.projects-name
											span Café de Paris
												i
										.projects-hash
											- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
											each hash in arrHash
												span(class="hash-item") #{hash}
			script(type='text/javascript').
				$(projectTrigger)
		include includes/_modal-hash
		include includes/_pagination
