extends _layout

block title
	title Title of template

block content
	include includes/_header
	include includes/_menu
	.wrapper
		.content.content-portfolio-two(data-page="portfolio-two")
			a.logo(href="/")
			ul.breadcrumbs
				li
					a.home.breadcrumbs-item.ajax-trigger(href="#")
						div
							<svg viewBox="0 0 20 22.1" xmlns="http://www.w3.org/2000/svg"><path d="m10.04767,0.04746l-9.996,9l0,13l7.996,0l0,-6l4.004,0l0,6l8,0l0,-13l-10.004,-9zm8.008,20l-4.008,0l0,-6l-7.996,0l0,6l-4.004,0l0,-10.172l8,-7l8.008,7l0,10.172z"/></svg>
				li
					.breadcrumbs-item
						span Portfolio
			include includes/_hash
			.gallery-pagination
				a(href="#" class="pagination-item pagination-item_left ajax-trigger")
					div
						<svg viewBox="0 0 33 23" xmlns="http://www.w3.org/2000/svg"><g><rect height="9" width="14" stroke-miterlimit="10" fill="none" y="12.99216" x="0.51307"/><rect height="9" width="14" stroke-miterlimit="10" fill="none" y="12.99216" x="18.31307"/></g><g><rect class="hover" height="9" width="14" stroke-miterlimit="10" y="12.99216" x="0.51307"/><rect class="hover" height="9" width="14" stroke-miterlimit="10" y="12.99216" x="18.31307"/></g><g><rect height="9" width="14" stroke-miterlimit="10" fill="none" y="0.39216" x="0.51307"/><rect height="9" width="14" stroke-miterlimit="10" fill="none" y="0.39216" x="18.31307"/></g><g><rect class="hover" height="9" width="14" stroke-miterlimit="10" y="0.39216" x="0.51307"/><rect class="hover" height="9" width="14" stroke-miterlimit="10" y="0.39216" x="18.31307"/></g></svg>
				a(href="#" class="pagination-item pagination-item_right active ajax-trigger")
					div
						<svg viewBox="0 0 34 22" xmlns="http://www.w3.org/2000/svg"><g id="double"><path d="m0.53333,0.45915l14.5,0l0,21l-14.5,0l0,-21z" stroke-miterlimit="10" fill="none"/><path d="m19.03333,0.45915l14.5,0l0,21l-14.5,0l0,-21z" stroke-miterlimit="10" fill="none"/></g><g id="main"><path class="hover" d="m0.53333,0.45915l14.5,0l0,21l-14.5,0l0,-21z" stroke-miterlimit="10"/><path class="hover" d="m19.03333,0.45915l14.5,0l0,21l-14.5,0l0,-21z" stroke-miterlimit="10"/></g></svg>
			.portfolio-load
				.portfolio-container
					.content-left.content-side
						.projects-gallery.scroll-container
							.project-scroller
								.projects.projects-triggers
									- var current = "Club Jelsomino"
									mixin triggers(link, name)
										a.projects-triggers__item(href="#" data-trigger=link class={active: name === current})
											span #{name}
											
									+triggers("1", "Club Jelsomino")
									+triggers("2", "Private house #10")
									+triggers("3", "Private house #11")
									+triggers("4", "Union Coffee")
									+triggers("5", "Café de Paris")
									+triggers("6", "Private house #09")
									+triggers("7", "Cafe Milano")
									+triggers("8", "Cafe Balkon")
					.content-right.content-side
						.projects-gallery
							.projects.projects-fader
								a.projects-item.ajax-trigger.is-visible.active(href="#" data-faders="1")
									.project-info-contaner
										.cover
											.project-info__inner
												.projects-image
													//- img(src="img/image-1grey.jpg" class="grey")
													img(src="img/image-1.jpg")
													.eye
												.projects-info
														.projects-name
															span Café de Paris
																i
														.projects-hash
															- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
															each hash in arrHash
																span(class="hash-item") #{hash}
								a.projects-item.ajax-trigger(href="#" data-faders="2")
									.project-info-contaner
										.cover
											.project-info__inner
												.projects-image
													//- img(src="img/image-1grey.jpg" class="grey")
													img(src="img/image-1.jpg")
													.eye
												.projects-info
														.projects-name
															span Café de Paris
																i
														.projects-hash
															- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
															each hash in arrHash
																span(class="hash-item") #{hash}
								a.projects-item.ajax-trigger(href="#" data-faders="3")
									.project-info-contaner
										.cover
											.project-info__inner
												.projects-image
													//- img(src="img/image-1grey.jpg" class="grey")
													img(src="img/image-1.jpg")
													.eye
												.projects-info
														.projects-name
															span Café de Paris
																i
														.projects-hash
															- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
															each hash in arrHash
																span(class="hash-item") #{hash}
								a.projects-item.ajax-trigger(href="#" data-faders="4")
									.project-info-contaner
										.cover
											.project-info__inner
												.projects-image
													//- img(src="img/image-1grey.jpg" class="grey")
													img(src="img/image-1.jpg")
													.eye
												.projects-info
														.projects-name
															span Café de Paris
																i
														.projects-hash
															- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
															each hash in arrHash
																span(class="hash-item") #{hash}
								a.projects-item.ajax-trigger(href="#" data-faders="5")
									.project-info-contaner
										.cover
											.project-info__inner
												.projects-image
													//- img(src="img/image-1grey.jpg" class="grey")
													img(src="img/image-1.jpg")
													.eye
												.projects-info
														.projects-name
															span Café de Paris
																i
														.projects-hash
															- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
															each hash in arrHash
																span(class="hash-item") #{hash}
								a.projects-item.ajax-trigger(href="#" data-faders="6")
									.project-info-contaner
										.cover
											.project-info__inner
												.projects-image
													//- img(src="img/image-1grey.jpg" class="grey")
													img(src="img/image-1.jpg")
													.eye
												.projects-info
														.projects-name
															span Café de Paris
																i
														.projects-hash
															- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
															each hash in arrHash
																span(class="hash-item") #{hash}
								a.projects-item.ajax-trigger(href="#" data-faders="7")
									.project-info-contaner
										.cover
											.project-info__inner
												.projects-image
													//- img(src="img/image-1grey.jpg" class="grey")
													img(src="img/image-1.jpg")
													.eye
												.projects-info
														.projects-name
															span Café de Paris
																i
														.projects-hash
															- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
															each hash in arrHash
																span(class="hash-item") #{hash}
								a.projects-item.ajax-trigger(href="#" data-faders="8")
									.project-info-contaner
										.cover
											.project-info__inner
												.projects-image
													//- img(src="img/image-1grey.jpg" class="grey")
													img(src="img/image-1.jpg")
													.eye
												.projects-info
														.projects-name
															span Café de Paris
																i
														.projects-hash
															- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
															each hash in arrHash
																span(class="hash-item") #{hash}
			script(type='text/javascript').
				var el = $(".portfolio-load");
				var list = new CatalogAjax(el);
				$(projectTrigger)
			- var ajax = true;
			include includes/_pagination
	include includes/_modal-hash
	include includes/_modal